
P
{
  color:red;
  margin: auto;
font-size:20px;
}

h1
{
  background-color:#09c;
  width: 70%;
  margin: auto;
text-align: center;
font-family: cursive;
color:white;
}

.div1
{
  text-align: center;
}

img
{
  position:relative;
}
